<% @title = @blog.title
@preferred_stylesheet = @blog.style.stylesheet %>
<table><tr><td>
<%= render :partial => "edit" %>

<div id="data"></div>
</td></tr></table>

<%= observe_form "post", :frequency => 2,
:update => "data", 
    :url => {:action => :update_edit, :only_path => :false,  :id => @post }

    %>


<%= link_to "Back to blog", :controller => :blog, :action => :show, :id => @blog %>


