<% @title = @blog.title
@preferred_stylesheet = @blog.style.stylesheet %>
<table><tr><td>
<%= render :partial => "edit" %>

<div id="data"></div>
</td></tr></table>

<script type="javascript">
var form = $("#post");
form.bind("blur", new function() {
  var url = <%= url_for(:action => :update_edit, :only_path => :false); %>;
  val formData = form.serialize();
  $.post(url, formData);
});
</script>

<%= link_to "Back to blog", :controller => :blog, :action => :show, :id => @blog %>


