body {
    background: orange;

}


#content {
    margin: 0px auto;
    width: 70%;
    border: 2px solid black;
    background: #33eeee;
    padding: 8px;
}

.title {
    font: 20px Impact, fantasy;
    font-variant: small-caps;
    margin: 4px;
    
}

.content {
    border: 2px solid pink;
    margin: 8px;
}

.post {
    margin: 4px;
}

.age1 {
    color: #cccccc;
}

.age2 {
    color: #c4c4c4;
}

.age3 {
    color: #bcbcbc;
}

.age4 {
    color: #b4b4b4;
}

.age5 {
    color: #acacac;
}

.age6 {
    color: #a4a4a4;
}

.age7 {
    color: #9c9c9c;
}

.age8 {
    color: #949494;
}

.age9 {
    color: #8c8c8c;
}

.age10 {
    color: #848484;
}

.age11 {
    color: #7c7c7c;
}

.age12 {
    color: #747474;
}

.age13 {
    color: #6c6c6c;
}

.age14 {
    color: #646464;
}

.age15 {
    color: #5c5c5c;
}

.age16 {
    color: #545454;
}

.age17 {
    color: #4c4c4c;
}

.age18 {
    color: #444444;
}

.age19 {
    color: #3c3c3c;
}

.age20 {
    color: #343434;
}

.age21 {
    color: #2c2c2c;
}

.age22 {
    color: #242424;
}

.age23 {
    color: #1c1c1c;
}

.age24 {
    color: #141414;
}

.age25 {
    color: #aa00aa;
}

.age26 {
    color: #ff00ff;

}
